.logo a {
    font-size: 2rem;
    font-weight: bold;
}

.color-switch {
    width: 1em;
    height: 1em;
}

.nav-list a, .nav-list fa-icon {
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .nav-list a, .nav-list fa-icon {
        padding: 0.15rem;
    }
}

.nav-list a:not(.active-link) {
    transition: all 250ms ease-out;
    border-bottom: 0.125rem solid transparent;
}

.nav-list a:not(.active-link):hover {
    transition: all 250ms ease-out;
    border-bottom: 0.125rem solid #d6d2cb;
}