<div class="container max-w-5xl lg:mx-auto py-8">
  <div class="header mx-4">
    <h6 class="font-bold mb-4">About Me</h6>
    <div class="introduction">
      <h1 class="mr-8 text-4xl lg:text-5xl inline">A Web Developer.</h1>
    </div>
    <br />

    <div class="pitch text-lg lg:text-3xl">
      <h3>
        <span class="font-semibold">Hi. I'm Kevin, and I'm a web developer.
        </span>
        Since the beginning of my journey as a
        <span class="underline font-semibold">web developer</span>, I've worked
        for several clients. I'm
        <span class="font-semibold">naturally curious</span> and am always
        working on projects in my free time.<br /><br />
        <span class="underline font-semibold">I'm a Christian</span> who enjoys
        <span class="font-semibold">reading the Bible</span> and thinking about
        the ways I code. Here are the skills I've worked on since the
        beginning...
      </h3>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="skills flex justify-center mt-20 pb-20">
  <!-- Skills Card -->
  <div class="card flex flex-col lg:flex-row justify-around w-4/5 rounded overflow-hidden shadow-lg bg-white h-auto">
    <div class="text-center mt-16 mb-4 w-full lg:w-1/3">
      <h3 class="font-bold uppercase text-lg lg:text-3xl">Front End</h3>
      <hr>
      <div class="flex flex-col my-8 -mx-2">

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/angular.svg" alt="Angular Logo" />
            <!--<fa-icon [icon]="faAngular" size="6x"></fa-icon>
            -->
            <h6 class="uppercase">Angular</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/react.svg" alt="React Logo" />
            <h6 class="uppercase">React</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/html5.svg" alt="HTML5 Logo" />
            <h6 class="uppercase">HTML5</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/css3.svg" alt="CSS3 Logo" />
            <h6 class="uppercase">CSS3</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/javascript.svg" alt="Javascript Logo" />
            <h6 class="uppercase">Javascript</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/sass.svg" alt="SASS Logo" />
            <h6 class="uppercase">Sass</h6>
          </div>
        </div>

      </div>

    </div>

    <div class="text-center mt-16 mb-4 w-full lg:w-1/3">
      <h3 class="font-bold uppercase text-lg lg:text-3xl">Back End</h3>
      <hr>
      <div class="flex flex-col my-8 -mx-2">

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/dot-net-core-7.svg" alt=".NET Core Logo" />
            <h6 class="uppercase">.NET Core</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/dot-net.svg" alt=".NET Logo" />
            <h6 class="uppercase">ASP.NET</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/microsoftsqlserver.svg"
              alt="SQL Server Logo" />
            <h6 class="uppercase">SQL Server</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/mysql.svg" alt="MySQL Logo" />
            <h6 class="uppercase">MySQL</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/node-dot-js.svg" alt="Node.js Logo" />
            <h6 class="uppercase">Node</h6>
          </div>
        </div>

      </div>
    </div>

    <div class="text-center mt-16 mb-4 w-full lg:w-1/3">
      <h3 class="font-bold uppercase text-lg lg:text-3xl">Tools</h3>
      <hr>
      <div class="flex flex-col my-8 -mx-2">

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/bootstrap.svg" alt="Bootstrap Logo" />
            <h6 class="uppercase">Bootstrap</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/tailwindcss.svg" alt="Tailwind CSS Logo" />
            <h6 class="uppercase">Tailwind CSS</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/github.svg" alt="GitHub Logo" />
            <h6 class="uppercase">GitHub</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/bitbucket.svg" alt="BitBucket Logo" />
            <h6 class="uppercase">BitBucket</h6>
          </div>
        </div>

        <div class="flex justify-evenly m-4">
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/jira.svg" alt="JIRA Logo" />
            <h6 class="uppercase">JIRA</h6>
          </div>
          <div>
            <img class="skills-icon" src="../../../assets/icons/Projects/amazonaws.svg" alt="AWS Logo" />
            <h6 class="uppercase">AWS</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="about container max-w-5xl lg:mx-auto my-16 lg:mt-32 py-8">
  <div class="mx-4">
    <h6 class="font-bold mb-4">Where I'm From</h6>
    <div class="introduction">
      <h1 class="mr-8 text-4xl lg:text-5xl inline">A University Graduate</h1>
    </div>
    <br />

    <div class="pitch text-lg lg:text-3xl">
      <h3>
        I'm a <span class="font-semibold">graduate of the Queensland University of Technology</span>, with a
        <span class="underline font-semibold">Bachelor of Information Technology</span> in Computer Science.
        I graduated in the year of 2019, with <span class="font-semibold">an overall GPA of 6.32.</span>
        I am currently working as a web developer at the
        <span class="underline font-semibold" *ngIf="(gitHubAccount$ | async) as account">{{ account.company }}</span>.
      </h3>
    </div>
  </div>
</div>