<div class="container max-w-5xl  lg:mx-auto py-8">
    <div class="header mx-4">
        <h6 class="font-bold mb-4">About Me</h6>
        <div class="introduction">
            <h1 class="mr-8 text-5xl inline">A Web Developer.</h1>
        </div>

        <div class="pitch text-3xl">
            <h3>
                <div class="font-semibold">Hi. I'm Kevin, and I'm a web developer. </div>
                Since beginning my journey as a <span class="underline font-semibold">web developer</span> just about an
                year ago, I've worked for several clients. I'm <span class="font-semibold">naturally curious</span> and
                always working on projects in my free time.<br>
                <span class="underline font-semibold">I'm a Christian</span> who enjoys
                <span class="font-semibold">reading the Bible</span> and thinking
                about the ways I code. Here are the things I've worked on since the beginning...
            </h3>
        </div>
    </div>
</div>