<footer class="mt-16 py-16">
    <div class="container max-w-5xl mx-auto">
        <div class="flex justify-around">
            <!-- Sites -->
            <div class="lg:w-1/4">
                <h6 class="font-bold mb-4 uppercase">Site</h6>
                <ul>
                    <li><a [routerLink]="['']">Home</a></li>
                    <li><a [routerLink]="['/projects']">Projects</a></li>
                    <li><a [routerLink]="">Blogs</a></li>
                    <li><a [routerLink]="['/about']">About</a></li>
                    <li><a [routerLink]="">Contact</a></li>
                </ul>
            </div>

            <!-- Links -->
            <div class="lg:w-1/4">
                <h6 class="font-bold mb-4 uppercase">Links</h6>
                <ul>
                    <li><a href="https://www.github.com/lkwunhyo">GitHub</a></li>
                    <li><a href="https://www.facebook.com/lkwunhyo">FaceBook</a></li>
                    <li><a href="https://www.linkedin.com/in/lkwunhyo">LinkedIn</a></li>
                    <li><a href="../../../assets/resume.pdf" target="_blank">Résumé</a></li>
                </ul>
            </div>

            <div class="w-1/2 hidden lg:block">
                <h6 class="font-bold mb-4 uppercase">Latest Git Contribution</h6>
                <div *ngIf="(repos$ | async) as repos; else noContribution">
                    <h3 class="text-2xl font-bold"><a [href]="repos.html_url">{{ repos.name }}</a></h3>
                    <p class="mt-1" *ngIf="repos.description; else noDescription">
                        {{ repos.description.substring(0, 149) }}{{ repos.description.length > 149 ? '...' : '' }}
                    </p>
                    <ng-template #noDescription>
                        No description available.
                    </ng-template>
                </div>
                <ng-template #noContribution>
                    <p class="mt-1">
                        Recent GitHub contributions are unavailable.
                    </p>
                </ng-template>
            </div>
        </div>
    </div>
</footer>